/*{
    box-sizing: border-box;
  }*/

  html{
    background-color: #f6f8ff;
      max-width: 100%;
  }
  body{
      width: 90%;
      margin: 10px auto;
      overflow-x: hidden;
      display: flex;
      color: #2b3442;
  }

 
.container{
    background-color: #f6f8ff;
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#devfinder{
    color:#141D2F;
    font-weight:bolder;
    width:69%;
    font-size: 7vw;
}
#light-dark{
    color: #697C9A;
    width: 20%;
    text-align: right;
}

#sun-moon{
margin: 10px;
width: 5%;
}

.searchbox{
    background-color:#fefefe;
    /*margin: 10px;*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#search-text{
    border: none;
    color: #697C9A;
    text-align: right;
    font-family: 'Space Mono', monospace;
    background-image: url('/assets/icon-search.svg');
    background-repeat:no-repeat;
    width: 75%;
    
    margin-right: 5px;
}
#search-button{
    background-color: #0079FF;
    color: #FEFEFE;
    font-family: 'Space Mono', monospace;
    border: none;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    margin-left:5px;

}

.profile{
    background-color:#fefefe;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.photo-user{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.profile-photo{
    width: 25%;
    
}

#photo{
    border-radius: 50%;
    width: 90%;
}
#user{
    font-size: 16px;
    font-weight: bold;
}

#username{
    color: #0079ff;
    font-size: 12px;
}

#joined{
    color: #697C9A;
    font-size: 14px;

}



.bio{
    width: 100%;
    background-color:#fefefe;
}
.data{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #697c9a;
    border-radius: 10px;
    margin: 10px;
}
#repos, #followers, #following{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 10px;
}


#repo-label, #repo-number, #followers-label, #followers-number, #following-label, #following-number{
    width: 100%;
    font-size: 14px;
}
#location, #website, #twitter, #company{
    width: 100%; 
}

.contact-info{
    background-color:#fefefe;
}
